<header class="app-header navbar">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>
    <span class="navbar-toggler-icon" ></span>
  </button>
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler d-md-down-none" type="button" appSidebarToggler >
    <span class="navbar-toggler-icon" style="margin-right:176vh"></span>
  </button>
  <!--tabs-->
  <div style="width: 40vw!important; margin-top: -9vh!important; margin-left: 40vh!important;">
    <app-tabs-list></app-tabs-list>
  </div>
  <!--<div class="btn-group " role="group" *ngIf="urls.length > 0">-->
  <!--<div class="btn-group" role="group" *ngFor="let tab of urls">-->
  <!--<button type="button" class="btn btn-dark" (click)="selectTab(tab)">{{tab.title}}</button>-->
  <!--<button type="button" class="btn btn-dark"(click)="closeTab(tab)">-->
  <!--<span aria-hidden="true">&times;</span>-->
  <!--</button>-->
  <!--</div>-->
  <!--</div>-->
  <button class="navbar-toggler d-md-down-none" type="button" id="sidebarbtn" appAsideMenuToggler>
    <span class="navbar-toggler-icon"></span>
  </button>
</header>
